vti_encoding:SR|utf8-nl
vti_author:SR|ADS\\jegsmith
vti_modifiedby:SR|ADS\\jegsmith
vti_timelastmodified:TR|14 Jan 2005 03:46:05 -0000
vti_timecreated:TR|14 Jan 2005 02:49:12 -0000
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{0DACA861-BEA5-457F-8BD2-49433B18D9B0}
vti_backlinkinfo:VX|Econometrics/excel_addins/OLSRegression.htm Econometrics/excel_addins/MCSim.htm Econometrics/excel_addins/Histogram.htm Econometrics/excel_addins/DummyDepVar.htm Econometrics/excel_addins/DDVGaussNewton.htm Econometrics/excel_addins/index.htm Econometrics/excel_addins/PValueCalculator.htm Econometrics/excel_addins/bootstrap.htm
vti_nexttolasttimemodified:TR|14 Jan 2005 02:49:12 -0000
vti_cacheddtm:TX|14 Jan 2005 02:49:12 -0000
vti_filesize:IR|1027
