vti_encoding:SR|utf8-nl
vti_author:SR|ADS\\jegsmith
vti_modifiedby:SR|ADS\\jegsmith
vti_timelastmodified:TR|14 Jan 2005 04:03:41 -0000
vti_timecreated:TR|14 Jan 2005 04:03:41 -0000
vti_cacheddtm:TX|14 Jan 2005 04:03:41 -0000
vti_filesize:IR|1026
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{12821082-08D4-48DB-A5A3-79D32DCAAFEA}
vti_backlinkinfo:VX|Econometrics/EconometricsBook/index.htm
